@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

#root {
    display: flex;
    flex-direction: column;
}